[2015-11-19 05:21] limikael opened #1 "Implement bredcrumbs"
Implement breadcrumbs that shows where you are...

This should be implemented so that it's handled automatically by the theme. We shouldn't have to a piece of code on every page.

![breadcrumbs](https://cloud.githubusercontent.com/assets/902911/11262812/c7467cd4-8e94-11e5-8d5c-a8bb87270917.png)

[2015-11-20 14:31] limikael opened #2 "Sign up, log in"

[2015-11-20 14:31] limikael opened #3 "Tickmark for completed swagifacts"

[2015-11-20 14:31] limikael opened #4 "Page for badges for swag"

[2015-11-20 14:32] limikael opened #5 "Swagmap"
Create a menu item and a page that shows the swagmap and of all skills provided, and swagpaths how to get those skills.

[2015-11-20 14:32] limikael opened #6 "Set up a way to replicate content to the internal server"
Do research to find a good way to replicate pages and H5P content from one server to another. It should be something that runs automatically in the background.

[2015-11-20 14:32] limikael opened #7 "Make a mobile adapted version"
This issue means to make sure that the layout of the site scales well on smaller screens

[2015-11-20 14:33] limikael opened #8 "Make the graphical design look better"
We need someone with graphical design expertise that can help us make everything look crisp. Find someone and engage them!

[2015-11-20 14:33] limikael opened #9 "Ensure all content is interactive"
All the H5P content packages should have a way to be "completed" by the learner. E.g. a quiz or so at the end.

[2015-11-20 14:34] limikael opened #10 "Ensure all pages works"

[2015-11-23 05:50] limikael opened #11 "Install MongoDB on the local tunapanda classroom server"
This is for local development, in case a developer doesn't want to install MongoDB and LearningLocker locally. Actually, the title is somewhat misleading, as this is already set up on the server. A better summary would perhaps be "create a LRS in the existing LearningLocker instance and document the credentials needed to connect to it."

[2015-11-24 09:55] jaylarson85 opened #12 "Create tutorial course"
Create a tutorial that shows:
- How to get an author account - please contact wp-authors@tunapanda.org
- How to upload/create H5P items (note: assume learner already knows how to create H5P items)
- How to assemble the H5P items into a swagpath
- How to create a description for the swagpath

[2015-11-25 10:07] allaN254 commented on #2
Sorry if I am not able to describe it well it is my first time to contribute to an issue. We need to have a way for new user to login and members to register. For example like it is in the picture below,
![screenshot from 2015-11-25 12 45 11](https://cloud.githubusercontent.com/assets/10713649/11393877/55d0fd52-9373-11e5-9238-62aff831c915.png)
On this issue I have found a wordress plugin called [B

[2015-11-30 06:50] limikael commented on #3
Currently, the course page looks like this:

![screenshot from 2015-11-30 09-00-17](https://cloud.githubusercontent.com/assets/902911/11465201/b42b475e-9747-11e5-826a-6760acbc36a4.png)

With the checkmarks, a suggested design is like this:

![screenshot from 2015-11-30 09-00-17 changed](https://cloud.githubusercontent.com/assets/902911/11465199/b1e6629e-9747-11e5-9614-ef15e1ca9689.png)

Things tha

[2015-11-30 07:31] limikael opened #13 "Change "course" to "Swagpath""

[2015-11-30 07:59] limikael commented on #7
Some suggestions:
- Collapse the menu into a hamburger menu for smaller screens.
- Remove the headline, the one that now says "Knowledgebase".
- Create a new layout for the course pages, make the margins smaller so it fits.

[2015-11-30 08:04] limikael commented on #6
It would be possible with bash scripts and cron jobs and such. It would be better, however, to create it with standardized wordpress components. Investigate if such plugins exist. If there is nothing like that, how much work would it be to create what we need? If it can't be created, then as a last resort we will have to rely on bash scripts.

For reference, there is https://www.drupal.org/project

[2015-11-30 08:12] limikael commented on #10
There are many tracks/swagpaths that are simply not implemented. Make sure they follow this form:

[code]

[2015-11-30 08:19] limikael commented on #13
It now says "swagpaths":

http://content.tunapanda.org/courses/coding/

Looks good?

[2015-12-01 05:09] limikael opened #14 "Connect your account"
It should be possible to connect accounts from other MOOCs, such as codecademy.

[2015-12-01 06:15] limikael opened #15 "Update README to explain grunt ftpUploadTask"

[2015-12-01 06:41] limikael commented on #1
COuld use some styling... :)

[2015-12-01 07:43] limikael commented on #13
Changed it to say "Visit Track" and "Follow Swagpath", i.e. capitalized.

@jaylarson85 if it looks good, please close this issue... We talked about trying the process on the meeting today where the ideal scenario is when you don't close the issue yourself. Rather, you attach the "resolved" label and assign the issue to someone else who "signs off" on the issue by closing it.

Please see yourself a

[2015-12-01 07:44] limikael commented on #1
@ceciliaTunapanda Do you consider this resolved? If so, attach the "resolved" label and assign it to someone.

[2015-12-01 07:44] limikael commented on #15
Looks good?

[2015-12-01 09:25] #13 closed, assigned to jaylarson85

[2015-12-01 09:27] jaylarson85 opened #16 "Create p5js Swagpath"
Create a swagpath that includes [Daniel Shiffman's awesome videos](https://www.youtube.com/channel/UCvjgXvBlbQiydffZU7m1_aw).

[2015-12-01 11:26] jaylarson85 opened #17 "Relocate content.tunapanda.org"
To learning.tunapanda.org or similar.

[2015-12-04 16:17] limikael commented on #5
Wordpress has a feature called "custom fields", more info here:

https://codex.wordpress.org/Custom_Fields

We could use this to let each swagpath (i.e. wordpress page containing swagifacts) to provide labels for the swag that they provide and require. Like this:

![screenshot from 2015-12-04 19-13-50](https://cloud.githubusercontent.com/assets/902911/11594504/776c42ce-9abb-11e5-8c84-0dfbf38c6255.

[2015-12-07 07:25] limikael commented on #10
This refers only to the site online, it does not refer to a local site. Because we are testing the content that lives on the live site. The content on the local  machine does not have this content.

[2015-12-07 07:38] limikael opened #18 "Update the instructions in the README.md so they are easier to follow for new developers"
Remind developers that they need to activate the theme after downloading it.

[2015-12-07 09:39] limikael commented on #1
Cool... I would personally prefer if it was aligned to the save vertical line as tunapanda logo, the course/track introduction text and the tracks/swagpaths.

Also, make sure you pull the latest changes from the repo before you do `grunt ftpUploadTask`. I think I see that there is a change missing right now (Follow Swagpath and Visit Track should be capitalized)

[2015-12-07 09:46] c3c1l1a commented on #1
Good feedback. Thanks. I did a pull but don't know why the changes were not reflected.

[2015-12-07 10:29] limikael commented on #1
Oh sorry, it wasn't committed...

Looks good now, closing...

[2015-12-07 10:29] #1 closed, assigned to limikael

[2015-12-07 11:32] c3c1l1a commented on #15
The instructions are clear to me. For that part at least. But I think it lucks the "pull repo" reminder for synchronization purposes.

[2015-12-07 12:29] Johngitonga commented on #18
I have updated the file: have added some guidelines and some infographics to explain it visually.

[2015-12-07 13:20] limikael commented on #18
We are trying to follow the following process... When an issue is done, attach the "resolved" label and assign it to someone else... It doesn't really matter who, as long as it is someone who you think is qualified to "test" the solution to the issue... And then that person checks so everything looks good, and then that person should close it...

[2015-12-07 13:56] c3c1l1a commented on #6
I have done a bit of research (Don't know if I was exhaustive enough) and this is what I came up with. I have found a few plugins that are almost doing what we want
1) Dublicator --> https://wordpress.org/plugins/duplicator/
This is pretty efficient in creating a duplicate of a site to a new one. I don't know if it deals with keeping the two wp instances in sync. This is not exactly what we want.

[2015-12-07 14:45] limikael commented on #3
This is implemented now, there is a test for it here:

http://content.tunapanda.org/courses/testing/how-are-you/

If you are logged in, complete that H5P and reload the page, there will be a tickmark.

On the way getting there, you will get some 500 internal server errors though... But that's a different issue...

[2015-12-07 15:15] limikael commented on #6
Ah ok... Would be cool to create a plugin for this actually... :) And if nothing exists I guess there wouldn't be any other option... We can ask around a bit first though, maybe @Jakeii knows something?

[2015-12-07 15:24] c3c1l1a commented on #6
Ok sounds like a good idea.

[2015-12-07 15:26] limikael commented on #6
For reference... Here is something that also does a similar thing...

https://wordpress.org/plugins/pushlive/

But it seems it only works for two sites that are stored on the same server...

[2015-12-07 15:46] Jakeii commented on #6
using a cron, sftp and rsync sounds pretty good to me? avoid downloading the whole thing over and over..

But by doing a db/file level duplication, you would loose any changes on the local server, would a 'post level' import be better?

[2015-12-07 16:33] limikael commented on #6
Yeah I think "post level" would be the best... Thinking how to create a kind of distributed version control system actually, because that would be interesting... So for one wordpress site you can set a "remote" (like you do in git) and then pull and push changes... If nothing like that exists it could be worthwhile...

Found this which could be a component: https://github.com/luqui/merge3

[2015-12-08 08:13] nyokabi opened #20 "Relocate swagipaths to their respective tracks"
Example take H5P content on Synfig and take it to 2D graphic design and animation.

[2015-12-08 09:00] Johngitonga opened #21 "Add a brief description of the swagpaths in the track's breadcrumbs"
![description](https://cloud.githubusercontent.com/assets/13312294/11651618/3e708468-9da3-11e5-9bf8-d1166e000e04.png)

[2015-12-08 09:49] limikael commented on #21
Just a note on terminology... We shouldn't call it "course", let's use the terms "track" and "swagpath"...

[2015-12-08 09:54] limikael commented on #6
Work started here: https://github.com/tunapanda/wp-remote-sync/

[2015-12-08 10:02] Johngitonga commented on #21
Oh sorry! Forgive my ignorance

[2015-12-08 10:02] limikael commented on #21
:)

On Tuesday, December 8, 2015, John Gitonga notifications@github.com wrote:

[2015-12-08 11:37] Johngitonga commented on #9
I think it would be more efficient to do it track by track. Also; the issue should be edited to say "Ensure all swagpaths are interactive (for a specific track)" since we have over 100 swagpaths.

[2015-12-08 11:41] Johngitonga opened #22 "Add a brief description of swagpaths, track by track."

[2015-12-09 08:46] jaylarson85 commented on #16
As discussed, given the large number of videos this swagpath might itself best be a 6-7 swagpaths each with 4-8 videos and other exercises/materials organized by topic.

[2015-12-09 08:49] jaylarson85 commented on #12
The text version of this is being stored in [CONTRIBUTE.md](https://github.com/tunapanda/TI-wp-content-theme/blob/master/CONTRIBUTE.md).

[2015-12-09 11:38] limikael commented on #10
Clicked around a bit to get a random sample, and it looks good to me, so closing!

[2015-12-09 11:38] #10 closed, assigned to limikael

[2015-12-09 11:42] Johngitonga commented on #10
Ok. Go ahead and close it, I can always edit it if need arises.

Best regards!

Alt email(s):

gitonga@tunapanda.org

Cell: +254 720 130 432

Thanks!

On Wed, Dec 9, 2015 at 2:38 PM, Mikael Lindqvist notifications@github.com
wrote:

[2015-12-09 11:45] limikael commented on #15
Ok what about now?

[2015-12-09 11:46] #22 closed, assigned to jaylarson85

[2015-12-10 13:53] Johngitonga commented on #4
![badge](https://cloud.githubusercontent.com/assets/13312294/11716960/50eacb14-9f5e-11e5-875b-4208dc1ff9e9.png)
Did you mean badges like this or what kind of badges can we create for that page?

[2015-12-10 14:43] munga4 commented on #4
Its looking good,  but we need to make it look good and clear.

[2015-12-12 09:15] limikael commented on #4
Yes something like this... However, the important thing to know for someone who is going to implement this is not the design for the actual badge, but rather the overall design for the page where the badges go

[2015-12-12 09:32] limikael commented on #20
Looks good, so closing for now! However, we shouldn't see it as "finished" in the sense that it is "set in stone" which tracks we should have and what should go in them. So for future reference, if someone digs up this issue, we shouldn't be afraid of change... :)

[2015-12-12 09:32] #20 closed, assigned to limikael

[2015-12-13 09:45] jaylarson85 opened #23 "Staging"
Set up swaglab.tunapanda.org as the staging ground for learning.tunapanda.org by cloning content.tunapanda.org to Tunapanda's Bluehost server and setting up the appropriate redirects.

[2015-12-15 05:24] limikael commented on #23
Related:

https://github.com/tunapanda/TI-wp-content-theme/issues/17

[2015-12-15 05:45] limikael commented on #6
Have an RC now of https://github.com/tunapanda/wp-remote-sync/

Waiting for Wordpress to approve putting in in the Wordpress plugin repo.

[2015-12-15 12:52] c3c1l1a commented on #21
I think it looks nice

[2015-12-15 12:59] c3c1l1a commented on #18
Nice work

[2015-12-15 12:59] #18 closed, assigned to c3c1l1a

[2015-12-15 13:37] munga4 commented on #4
![budge-1](https://cloud.githubusercontent.com/assets/8983198/11811993/16237766-a34a-11e5-8e23-0f5e57fd283e.png)

[2015-12-15 13:41] munga4 commented on #4
![Uploading budge-1.png…]()

[2015-12-15 13:42] c3c1l1a commented on #3
I used the test link above but there is an error. Couldn't copy paste it but I took a screen shot. I don't know if that is the 500 internal server error you are referring to.
![error](https://cloud.githubusercontent.com/assets/8858461/11812097/d341e184-a34a-11e5-993e-35dd99155a23.png)

[2015-12-15 13:48] munga4 commented on #4
This will welcome the student to the first test before he/she moves to next test.
![budge-1](https://cloud.githubusercontent.com/assets/8983198/11812220/a6816c0e-a34b-11e5-96c2-ee16cf3ed134.png)

[2015-12-15 13:54] c3c1l1a commented on #15
Awesome.

[2015-12-15 13:54] #15 closed, assigned to c3c1l1a

[2015-12-15 14:20] limikael commented on #3
aha...

in this case it is because the teacher user doesn't have a registered email... it only works if you are logged in and if you have a proper email address associated with the user...

but... it shoudn't give _that_ error, it looks bad... will fix...

[2015-12-16 09:03] c3c1l1a commented on #3
Awesome works now.

[2015-12-16 09:10] limikael commented on #3
But how could it, I haven't changed anything... :)

I think we have a bug if the user doesn't have an email registered, let me fix that...

[2015-12-16 09:23] #21 closed, assigned to c3c1l1a

[2015-12-17 11:20] limikael commented on #5
Alright, there is an initial implementation now at:

http://content.tunapanda.org/swagmap/

Looks good for an MVP?

[2015-12-17 12:25] #5 closed, assigned to jaylarson85

[2015-12-17 15:21] limikael commented on #3
After some investigation...

Yes there will be an error if the user doesn't have an email address. But on 2nd though, this is ok, since not having an email is kind of an "error" to begin with.

So closing for now...

[2015-12-17 15:21] #3 closed, assigned to c3c1l1a

[2015-12-18 07:48] limikael opened #24 "Set up a swagpath repo"
This repo will be used for coordinating swagpath development.

[2015-12-18 07:53] limikael commented on #11
Seems like we don't need this, so closing..

[2015-12-18 07:53] #11 closed, assigned to nobody

[2015-12-18 07:58] limikael commented on #8
Problem reformulated... Will add separate issues based on feedback...

[2015-12-18 07:58] #8 closed, assigned to nobody

[2015-12-18 08:02] limikael opened #25 "Show completed swag on swagmap"
On the swagmap, the swag you have not yet collected should be shown as hollow circles, the swag you have collected should be filled in.

[2015-12-18 13:18] limikael commented on #6
Waiting for the key authentication to be implemented before deploying...

[2016-01-03 08:19] jaylarson85 commented on #12
It's [here](http://content.tunapanda.org/courses/knowledge-creation/creating-swagpaths-3/).

[2016-01-08 12:57] limikael opened #26 "Only show swagpaths that are on a "good" level"
By default, show only swagpaths that the user has all prerequisites for.

[2016-01-08 12:58] limikael opened #27 "Show "warning" text for swagpaths that the user doesn't have the prerequisites for"
Suggest "To get the most out of this swagpath, consiter following ..., ... or ... first"

[2016-01-08 13:09] jaylarson85 opened #28 "Swagmap click opens in new tab"
When a user clicks on a swagpath within a swagmap, it opens in a new tab.

[2016-01-08 13:39] jaylarson85 opened #29 "Write explanation for swagmap"
Create a description to explain what the swagmap is, and put it on the side of the swagmap page. Like a key/legend on a map.

[2016-01-08 14:02] jaylarson85 opened #30 "Write explanation for swagmap"
Create a description to explain what the swagmap is, and put it on the side of the swagmap page. Like a key/legend on a map.

[2016-01-08 14:03] jaylarson85 opened #31 "Debug why "saving" and completion badges aren't showing up"
... in some cases

[2016-01-13 07:12] limikael opened #32 "Create aggregated dashboard"

[2016-01-13 16:19] limikael commented on #12
Oh sorry for the delay, it's awesome... closing...

[2016-01-13 16:19] #12 closed, assigned to limikael

[2016-01-14 09:43] c3c1l1a commented on #32
Done and the public url is https://www.dasheroo.com/reports/48fa1964f67d528a166fa6bc976f897d/public

[2016-01-14 10:02] limikael commented on #32
Awesome! closing....

[2016-01-14 10:02] #32 closed, assigned to limikael

[2016-01-14 11:29] limikael commented on #31
This was because the plugin was deactivated... the wp-h5p-xapi plugin had a bug before which made it spam error messages in the console, that's why i deactivated it...

However... this is fixed now!

I also made a feature so that the tickmark should show up directly upon completion of a swagifact, no need to reload the page...

Please verify that it works!

[2016-01-14 11:35] munga4 commented on #28
I tested and its looking good.

[2016-01-14 11:35] #28 closed, assigned to munga4

[2016-01-14 12:30] #31 closed, assigned to jaylarson85

[2016-01-14 12:33] jaylarson85 opened #33 "Course Presentation Completion Problem"
If you create a course presentation and disable the "summary slide," there is no xAPI "complete" statement generated when a user reaches the end of the presentation.

Also reference [here as an issue in an H5P repo](https://github.com/h5p/h5p-course-presentation/issues/16).

[2016-01-15 17:21] limikael commented on #25
The easiest way to test this currently is to go to:

http://content.tunapanda.org/swagmap/

And then verify that all swag there renders as hollow circles. Then go to this swagpath:

http://content.tunapanda.org/courses/testing/how-are-you/

And complete it. Go back to the swagmap, and the "test" swag should now render as a filled in circle.

To understand why this swagpath provides the test swag,

[2016-01-16 08:23] mrlarso opened #34 "Increase wordpress upload size"

[2016-01-18 14:27] c3c1l1a commented on #17
That is done.

[2016-01-19 10:37] Johngitonga commented on #16
Here is the link to the swagifacts http://learning.tunapanda.org/courses/coding/p5js-course/.
The swagifacts are not interactive and if the first issue looks good, close it and create another issue about making the swagifacts interactive.

[2016-01-19 14:39] limikael commented on #25
ok try again now! seems the wp-h5p-xapi plugin was not enabled on learning.tunapanda.org

[2016-01-19 14:58] neerajkamdar commented on #25
I’m getting an error “Unable to save result data” when I select an option in the testing course with the message below.  

Message: {"error":true,"success":false,"message":["`[]` must be `object` not `array` in `statement.context.extensions`"],"code":400,"trace":"#0 \/var\/www\/learninglocker\/app\/locker\/repository\/Statement\/EloquentStorer.php(74): Locker\Helpers\Helpers::validateAtom(Object(L

[2016-01-19 15:16] limikael commented on #25
yep i have seen that... damn... ok taking this back....

[2016-01-19 16:52] limikael commented on #25
ok now, damnit!

[2016-01-19 17:25] limikael commented on #17
cool!

[2016-01-19 17:25] #17 closed, assigned to limikael

[2016-01-19 18:36] limikael commented on #16
Ok looks good! Closing...

[2016-01-19 18:36] #16 closed, assigned to limikael

[2016-01-20 11:10] jaylarson85 commented on #25
Nice!

[2016-01-20 11:10] #25 closed, assigned to jaylarson85

[2016-01-20 11:21] #34 closed, assigned to mrlarso

[2016-01-20 12:55] limikael commented on #27
Ok implemented... Instructions for testing... First go to the swagmap, consider the chain:

"How are you?" --> first-test --> "What are you doing?" --> another-test

So, the "first-test" swag is a requirement for "What are you doing?". If you go to the "What are you doing?" swagpath, without first completing the "How are you?" swagpath:

http://learning.tunapanda.org/courses/testing/what-are-you-d

[2016-01-20 13:33] jaylarson85 commented on #27
It works!

[2016-01-20 13:34] #27 closed, assigned to jaylarson85

[2016-01-20 13:42] jaylarson85 commented on #24
It's [here](https://github.com/tunapanda/swagpaths).

[2016-01-20 16:19] c3c1l1a commented on #2
The functionality part of the login is fine I would say but the styling needs a bit more.

[2016-01-20 16:29] limikael commented on #24
Looking good! So is the issue resolved? If so, add the "resolved" label... :)

[2016-01-20 16:48] limikael opened #35 "Show completed swag in track view"

[2016-01-20 17:06] limikael commented on #26
If you go into a track, such as:

http://learning.tunapanda.org/courses/testing/

It will only show the "How are you?" swagpath from the beginning (if you don't have the prerequisites for the other swagpaths), with an option to show the rest of the swagpaths.

If the "How are you?" is completed already, the other swagpaths will show as well...

It's a bit difficult to test, since there is no way t

[2016-01-21 05:57] limikael commented on #24
Alright! Closing...

[2016-01-21 05:57] #24 closed, assigned to limikael

[2016-01-29 07:44] limikael commented on #6
Alright!

It's now up and running...

http://192.168.0.254/learning.tunapanda.org

from inside Tunapanda, is synced with:

http://learning.tunapanda.org

[2016-01-29 07:46] limikael commented on #26
http://learning.tunapanda.org is up again... Can you please check now @jaylarson85 ? Or have someone else do it...

[2016-01-29 07:48] limikael commented on #2
I think it will do for now, we can open another issue about the design later... Please test it someone! Assigning you @jaylarson85, feel free to assign it to someone else for checking....

[2016-01-29 10:01] limikael commented on #4
Badges for collected swag is now shown under "My Account", under the "My Swag" tab.

[2016-01-30 07:20] limikael opened #36 "Break out swag functionality to a separate plugin"
We should put all the swag functionality, e.g. swagmaps, tracklisting, swagpaths, the swagpath h5p viewer, xapi communication, etc, into its own wordpress plugin. We should have a separate repository for this.

[2016-02-02 11:25] limikael commented on #2
What is the problem?

[2016-02-02 11:58] limikael opened #37 "create the possibility for swagpaths to have attached lesson plans"
It should be possible to attach a lesson plan to each swagpath. This could be implemented by a new shortcode, so the swagpath pages would look like this:

[code]

Then there would be a button on each swagpath to view the lessonplan. This button would be available if you have collected the swag associated with the swagpath (consistent with "learn, then teach others"). It would also be available to

[2016-02-02 12:06] limikael opened #38 "Export KPI:s for visualising student progress"

[2016-02-02 12:07] limikael opened #39 "Export KPI:s for visualising swagpath status"
Exact KPI:s TBD.

[2016-02-03 05:51] Johngitonga commented on #2
Registration goes through but still I cannot login with the credentials I used to sign up.

[2016-02-03 11:20] limikael opened #40 "Improve the deploy mechanism"
In accordance with:

https://github.com/afragen/github-updater/issues/354

[2016-02-03 11:22] limikael opened #41 "Make it possible to earn swag by submitting work and having it reviewed"
Preferably this should be implemented as a usable Wordpress plugin (usable also outside swag, that is).

[2016-02-03 11:23] limikael opened #42 "Hierarchical swag"

[2016-02-03 11:24] mrlarso commented on #2
I tried signing up as both a user and as a wordpress admin. Didn't receive confirmation email on either occasion and can't login.

Question- Should this be 2 separate issues?

On password recovery (as user) received the error message:

**The email could not be sent.
Possible reason: your host may have disabled the mail() function.**

[2016-02-03 11:40] limikael commented on #2
Yeah, open a new issue for the mail sending... I have some info on why it doesn't work, would be awesome with some research on what to do with it... Will write it in the new issue...

[2016-02-03 11:47] mrlarso opened #43 "Mail server not functioning"
Cannot enter into password recovery. Receive the following error:

**The email could not be sent.
Possible reason: your host may have disabled the mail() function.**

[2016-02-03 13:05] limikael commented on #43
There are 2 ways basically to get mail working from PHP.
- Configure sendmail.
- Use some other way and connect through a SMTP server.

The first option, to configure sendmail, is a special kind of hell. What's worse, there is not really any good ways to test if it has been configured properly. We should avoid this.

The second way is to use a SMTP server, and then install a plugin for wordpress t

[2016-02-03 18:28] neerajkamdar commented on #43
Postfix is another option: http://www.postfix.org

Or Mailgun is an SMTP service that has a free tier upto 10,000 emails which should be enough for our purpose - https://www.mailgun.com. It has a wordpress plugin too: https://wordpress.org/plugins/mailgun/

[2016-02-04 05:56] limikael commented on #43
@neerajkamdar That is awesome info! We should certainly give that a go. Btw, have you actually used any solution "in the wild" so you can testify which one might be the best?

[2016-02-04 07:46] limikael opened #44 "Fix the provisioning script so it installs swag on the server"
Then set up a cubie truck server to be the "classroom content server", but this is technically the job of the TunapandaNet project.

[2016-02-04 08:09] #30 closed, assigned to nobody

[2016-02-04 08:18] limikael commented on #9
Moved to its own repo

[2016-02-04 08:18] #9 closed, assigned to nobody

[2016-02-04 08:27] limikael commented on #29
This is too vague...

[2016-02-04 08:28] #29 closed, assigned to Johngitonga

[2016-02-04 09:00] munga4 opened #45 "Remote-sync plugin works for php version 5.6 but doesn't work for other versions."

[2016-02-04 09:05] limikael commented on #45
this is not a problem of the theme, it is a problem of the plugin, so please submit the issue here:

https://github.com/tunapanda/wp-remote-sync/issues

[2016-02-04 10:03] neerajkamdar commented on #43
I have setup postfix on a digital ocean droplet for a client. But it is only used for outgoing messages sent by the system, not for incoming email. 

I have not used Mailgun - I have used Mandrill (a services similar to Mailgun - now that I think about it they also have a free tier of upto 12000 emails per month).

I think for this purpose postfix is the best as we don’t have to think about it onc

[2016-02-04 10:16] limikael commented on #43
Yep, it's only for outgoing mail, the incoming mail is handled by gmail.

But you have access, right? The neeraj user should have administration rights? And that should be all that's needed to install required plugins and set them up. I wouldn't mind giving you root access to the server, but I think for this particular issue I think the ideal solution would be one where this wouldn't be needed. Am

[2016-02-04 10:24] neerajkamdar commented on #43
For postfix, we have to install it on the server - it is not affiliated with wordpress - once installed it is configured to be used for all system mail functions such as PHPs mail function. So if we decide to use Postfix then I will need server access - unless @mrlarso can set it up.

If we decide to use Mandrill or Mailgun, then I don’t think server access is necessary. I think I can setup the pl

[2016-02-04 10:29] mrlarso commented on #43
I haven't had too much time to look into it, but I also think postfix sounds like the best option here.  Neeraj, if you want to set it up that would be great!

[2016-02-04 10:31] limikael commented on #43
Hm... I actually disagree... I checked out postfix and it is a server component, a replacement for sendmail. I think there is value to rely as much as possible on things that can be installed in Wordpress. So I think Mandrill or Mailgun is the best alternative.

[2016-02-04 10:49] neerajkamdar commented on #43
Ok .. I’ll setup Mandrill or Mailgun first. If we decide to move to postfix at a later stage, we can set that up and remove the plugin. It will not cause any disruption to the system . 

From: Mikael Lindqvist notifications@github.com
Reply: tunapanda/TI-wp-content-theme reply@reply.github.com
Date: February 4, 2016 at 1:31:42 PM
To: tunapanda/TI-wp-content-theme ti-wp-content-theme@noreply.github

[2016-02-04 10:52] mrlarso commented on #43
Cool, was just discussing with Micke and he convinced me that one of the
plugins is the best way to go :)

On Thu, Feb 4, 2016 at 1:49 PM, Neeraj Kamdar notifications@github.com
wrote:

[2016-02-04 11:05] #45 closed, assigned to nobody

[2016-02-04 11:08] munga4 commented on #6
Problem found while testing.
https://github.com/tunapanda/wp-remote-sync/issues/14

[2016-02-04 11:21] neerajkamdar commented on #43
Ok .. I’ve installed Mandrill plugin and set it up. I sent myself a test password reset and it worked. 

I’ll send you the Mandrill login credentials separately.

If those who were having trouble getting emails when signing up can test this again, it would be great.  

From: mrlarso notifications@github.com
Reply: tunapanda/TI-wp-content-theme reply@reply.github.com
Date: February 4, 2016 at 1:52:

[2016-02-04 12:18] mrlarso commented on #43
Awesome. Just tested and it's working perfectly. Thanks!

On Thu, Feb 4, 2016 at 2:21 PM, Neeraj Kamdar notifications@github.com
wrote:

[2016-02-05 06:23] limikael commented on #43
Alright, so @neerajkamdar and @mrlarso tested it. (Which is 2 different people, which is what we are aiming for...) So shall we close it?

[2016-02-05 06:27] #43 closed, assigned to mrlarso

[2016-02-05 06:28] mrlarso commented on #43
I just closed it.

On Fri, Feb 5, 2016 at 9:23 AM, Mikael Lindqvist notifications@github.com
wrote:

[2016-02-05 08:25] #4 closed, assigned to jaylarson85

[2016-02-08 07:36] limikael commented on #2
We can use this plugin to make the tabs stay: https://github.com/limikael/tabby-cookie

We should install it using github updater, but the plugin is not adapted to be used with that. It needs to have a "GitHub Plugin URI" in its description. A good way would be to fork the repo, put it under tunapanda and put that line in there, then install it using github updater.

For reference on how to use th

[2016-02-08 07:48] limikael commented on #6
Oh damn... Currently there is a problem:

[code]

Looking in to it...

[2016-02-08 08:05] Johngitonga opened #46 "Swag map didn't show when I synchronized the learning.tunapanda into my local server"
There is a swagmap on the learning.tunapanda which didn't show on my localhost when I synced the site.

[2016-02-08 08:46] allaN254 opened #47 "Unable to access swagpath"
Hello guys, when I clicked on the swagpath for entrepreneurship, this is the message I get, What should I do as the next step?
![login into entreprenuership swagpath](https://cloud.githubusercontent.com/assets/10713649/12881265/876e39bc-ce59-11e5-9c40-c64da175ef6b.png)

[2016-02-08 09:07] limikael commented on #47
If you would log in and look at the source code for the page, you would find that it is not in accordance with what it should be. For reference for how it should look, see:

http://learning.tunapanda.org/courses/knowledge-creation/creating-swagpaths-3/

Coordinate with @munga4 as he is also on this case now...

[2016-02-08 12:47] limikael commented on #6
Ok fixed, in version 0.0.20...

The important thing to test when verifying this issue is that http://192.168.0.254/learning.tunapanda.org/ can sync with http://learning.tunapanda.org

So I think the main test we should perform is:
- Check that currently, http://192.168.0.254/learning.tunapanda.org/ is in sync. Test a few random swagpaths here and there, 5 or so...
- Make a change to one swagpath o

[2016-02-08 12:51] munga4 commented on #26
Its look okay.

[2016-02-08 12:51] #26 closed, assigned to jaylarson85

[2016-02-09 06:30] limikael commented on #39
I have created a plugin for aggregating information and present it for dasheroo:

https://github.com/tunapanda/wp-dasheroo-kpis

And I created a dasheroo dashboard here:

https://www.dasheroo.com/reports/948d32e0b2efce252151e379b0c99212/public

(link updated, it wasn't the public one before)

@EliasKinyua let's sit down and discuss if this is what you need and/or how it can be changed to become wh

[2016-02-09 06:54] limikael commented on #35
Added a tick mark for completed swag

[2016-02-09 09:59] mrlarso commented on #2
@johngitonga, can you please check to see if it's working now?

[2016-02-09 15:18] limikael commented on #2
I tested and I saw that at least the tab is staying as it should!

[2016-02-09 15:42] EliasKinyua commented on #39
Seems to be working as expected.

[2016-02-09 15:42] #39 closed, assigned to EliasKinyua

[2016-02-10 08:19] munga4 commented on #2
The issue is resolved and its working.

[2016-02-10 08:41] #2 closed, assigned to munga4

[2016-02-10 12:47] mrlarso commented on #35
Tick mark appears in 'Testing' track but is not visible in any other track.

[2016-02-10 12:56] mrlarso commented on #35
Tick mark only appears when swag is defined for a given swag path. Swag can only be earned if there is a summary slide in h5p.

[2016-02-10 12:56] #35 closed, assigned to mrlarso

[2016-02-10 14:35] mrlarso commented on #6
From 192.168.0.254/learning.tunapanda.org:

**Pull** reports 'done' but not all content on local instance matches learning.tunapanda.org

**Push** repeatedly freezes  (15+ minutes as below with no change) and changes not reflected on learning.tunapanda.org

![pushfreeze](https://cloud.githubusercontent.com/assets/5390448/12949981/e6befb72-d01b-11e5-9af9-70740a7353e3.png)

[2016-02-11 09:57] #6 closed, assigned to mrlarso

[2016-02-12 09:12] c3c1l1a commented on #36
Plugin repository created at https://github.com/tunapanda/wp-swag

[2016-02-13 09:23] limikael commented on #41
Have an RC now here: https://github.com/tunapanda/wp-deliverable

Next step is to integrate it into swag...

[2016-02-15 08:35] limikael commented on #41
We have an initial version now, deployed on http://learning.tunapanda.org/

We should test that the following work:
- Assigning users to groups.
- Creating deliverables.
- Adding deliverables to swagpaths. Make sure they show up in the swagpath.
- Can someone submit work?
- Does the work submitted appear for review for the relevant groups?
- Is it possible to review and appove the work?
- When the

[2016-02-16 09:32] limikael commented on #41
For reference, this is a place where a deliverable is on a swagpath:

http://learning.tunapanda.org/courses/coding/using-functions/

[2016-02-17 07:42] munga4 commented on #41
All are working.

[2016-02-17 07:42] #41 closed, assigned to munga4

[2016-02-22 10:25] mrlarso commented on #37
Lesson plans can now be added within the course shortcode:

[course lessonplan="/path/to/lessonplan.pdf"]
[/course]

A download button should appear in any course with a lesson plan included as above.

The download button should be active (and the lesson plan available) only if the user has collected swag for the course, otherwise it should be inactive.

[2016-02-23 15:32] limikael commented on #40
Have something initial now... See here:

https://github.com/afragen/github-updater/issues/354#issuecomment-187744565

[2016-02-24 09:16] c3c1l1a commented on #37
There seems to be a bug. I was expecting the "Download Lesson Plan" button to be active when I finish a swagpath. That is not happening. May be am missing something?

[2016-02-24 14:33] limikael commented on #47
@allaN254 do you have any further questions regarding this? If not, please close the issue.

[2016-02-24 14:34] limikael commented on #46
This is because the swagmap doesn't show unless the LRS is set up. This is somewhat unintuitive, we should make the swagmap work even without those settings.

[2016-02-24 14:35] limikael commented on #40
PR here: https://github.com/afragen/github-updater/pull/366

[2016-02-24 14:44] limikael opened #48 "Create a custom post type for swagpaths"
If we create a custom post type, we can have the swagpaths appear under its own page and have its own menu item in the admin menu, rather than being mixed in with the pages. We would also be able to eventually customize the UI, so we can make it "swag specific". E.g. rather than manually entering shortcodes we could do it via a button (add swagifact), and rather than manually entering the "require

[2016-02-24 14:50] limikael opened #49 "Chat for users viewing the same swagpath"
Create a chat where users viewing the same swagpath can chat with each other.

Research if there are plugins available for this, otherwise we can create our own. In that case it should be as a generic separate plugin.

[2016-02-24 14:52] limikael opened #50 "User contributed notes for swagpaths"
Each swagpath would have its own comments thread. We can probably use the built in wordpress comments functionality for this, we just need to enable it.

[2016-02-24 15:03] limikael opened #51 "Email reminder for uncompleted swagpaths"
If a user starts learning from a swagpath, but if it is not yet completed after a certain time, send an email reminder to the user encouraging them to complete it.

[2016-02-24 15:05] limikael opened #52 "Show started swagpaths"
On the badges page, not only the completed swagpaths should be shown, but also the started ones.

However, it should also be possible for a user to "drop" a course, so it is no longer in progress.

[2016-02-24 15:08] limikael opened #53 "Suggest swagpaths / feedback"
Create a feedback form where users can suggest new swagpaths or otherwise communicate with the "backend".

[2016-02-24 15:10] limikael opened #54 "Download lesson plan improvement"
Lesson plans should not only be downloadable by people who have achieved the swag for the swagifact, but also by users with certain roles and/or capabilities.

Some research needs to be done on exactly how we should use the Roles and Capabilities API for this, more info on the API here:

https://codex.wordpress.org/Roles_and_Capabilities

[2016-02-24 15:11] limikael opened #55 "Choose role on registration"
It should be possible to select if you are a teacher or student upon registration. If you register as a teacher (and get access to all lesson plans) there should be some kind of verification process, yet to be defined.

[2016-02-24 15:43] c3c1l1a commented on #37
Ok. working perfectly.

[2016-02-24 15:43] #37 closed, assigned to c3c1l1a

[2016-02-24 16:05] limikael opened #56 "Find which H5P content crashes the upgrade to latest content type versions"
Currently we can't upgrade out H5P content to the latest version of the H5P content libraries. One of our H5P contents causes it to crash. We need to find which one it is, and the submit this to the H5P team as a bug.

The best way to find it I think would be using a manual "divide and conquer" method. I.e. on a local system, we delete half of the H5P content and see if the update works. Then we c

[2016-02-24 16:08] limikael opened #57 ""Hack" timeline and course presentation completion"
Create some hack for now, so we can identify completion of timeline content, and also check actual completion of course presentation the way we want it to work, while we wait for the fix from H5P.

[2016-02-24 16:09] limikael commented on #57
A workaround for this: https://github.com/tunapanda/TI-wp-content-theme/issues/33

[2016-02-25 05:40] mrlarso commented on #54
How about if any user is either the page's author or has the capability to edit other authors' pages, then they can view/download the lesson plan?

[2016-02-25 07:09] limikael commented on #54
:+1:

[2016-02-25 09:21] limikael commented on #36
Great work!

Only thing remaining is to make it compatible with github updater...

[2016-02-25 09:47] c3c1l1a commented on #36
Both the plugin and theme are compatible with github updater

[2016-02-25 11:57] limikael commented on #36
:+1: awesome!

[2016-02-25 11:57] #36 closed, assigned to limikael

[2016-02-25 13:07] limikael commented on #46
Alright... Now it should work even if there are no xapi settings... Obviously no progress will be tracked or shown, but things does at least work...

[2016-02-25 13:58] #47 closed, assigned to nobody

[2016-02-25 14:00] limikael opened #58 "Create FAQ page"

[2016-02-25 14:06] limikael commented on #33
We'll focus on a workaround:

https://github.com/tunapanda/TI-wp-content-theme/issues/57

So closing this...

[2016-02-25 14:06] #33 closed, assigned to nobody

[2016-02-25 14:45] limikael opened #59 "Sync xAPI statements from the local server to lrs.tunapanda.org"

[2016-02-25 14:46] limikael opened #60 "Make typing swag show up on the badges page"

[2016-03-01 09:07] neerajkamdar opened #61 "Move mail api from Mandrill to another service."
Mandrill is moving to paid accounts on Apr 27 and will no longer have a free tier. So we will have to find another email sending service and transition to them. Mailgun might be a good option.

[2016-03-01 12:40] neerajkamdar commented on #61
I've added the Mailgun plugin and setup the Mailgun account. I've tested and seems to be working. If someone else could also test and verify that will be great.

[2016-03-01 12:42] limikael commented on #61
assigning @mrlarso for testing... feel free to re-assign...

[2016-03-02 08:46] #61 closed, assigned to mrlarso

[2016-03-07 10:30] #54 closed, assigned to c3c1l1a

[2016-03-08 06:30] munga4 commented on #46
Its working well.

[2016-03-08 06:31] munga4 commented on #46
Its working well.

[2016-03-08 06:31] #46 closed, assigned to munga4

[2016-03-14 11:07] c3c1l1a commented on #53
I installed the plugin usernoise for feedback. The plugin does not allow discussion for a given feedback/swagpath idea/feedback/question. I think this is important to have. Will checkout other plugins as well. Anyone who knows a good one to test out can leave a suggestion.

[2016-03-14 13:18] limikael commented on #53
I think usernoise works well for a "sitewide" discussion, e.g. for general questions or to suggest new swagpaths...

Wordpress has a built in comments system. Maybe we can use that for the per-swagpath discussions?

https://en.support.wordpress.com/enable-disable-comments-for-future-posts-pages/

[2016-03-16 07:26] c3c1l1a commented on #53
This issue very closely related to issue https://github.com/tunapanda/TI-wp-content-theme/issues/50. I think they should be merged.

[2016-03-17 05:47] limikael commented on #53
I don't know if they are so closely related actually... I think that this issue is perfectly solved with the usernoise plugin as we do now. The other one is best solved with the built in post/page comments functionality in wordpress

[2016-03-24 12:27] Johngitonga commented on #53
I have tested the plugin and it works really well. I'll now close the issue.

[2016-03-24 12:27] #53 closed, assigned to Johngitonga

[2016-04-07 11:20] munga4 commented on #56
WordPress fixed the bug, It's working now.

[2016-04-07 11:20] #56 closed, assigned to nobody

[2016-04-28 12:01] munga4 commented on #50
I have tested and its working.

[2016-04-28 12:01] #50 closed, assigned to munga4

[2016-04-28 12:06] limikael commented on #50
However, I don't see it on learning.tunpapanda.org... I think we shouldn't close issues until they are actually deployed all the way to production.

[2016-05-18 07:06] c3c1l1a opened #62 "learning.tunapanda.org database keeps crushing"
The database keeps crushing and displays this
![screenshot from 2016-05-18 09 09 06](https://cloud.githubusercontent.com/assets/8858461/15350096/fca9f0c0-1cdf-11e6-8a41-df5e7cdad298.png)

[2016-05-18 14:06] usernamenumber commented on #62
Do we have access to the logs of the server where the site is hosted? If
the db connection is established by the php component, then the web server
error log might have more details.
On May 18, 2016 12:06 AM, "wangui" notifications@github.com wrote:

The database keeps crushing and displays this
[image: screenshot from 2016-05-18 09 09 06]
https://cloud.githubusercontent.com/assets/8858461/1535009

[2016-05-19 06:30] mrlarso commented on #62
I've attached the logs that I think might be relevant. Will try digging
through them today, though not completely sure what to look for.

On Wed, May 18, 2016 at 5:06 PM, Brad Smith notifications@github.com
wrote:

##

Mick Larson
Co-Founder
www.Tunapanda.org

Mick@Tunapanda.org mick@tunapanda.org
+254 (0)7-0033-2770

[2016-05-19 06:55] mrlarso commented on #62
I guess the log files didn't attach before. Here they are. Based on this error in the mysql error log:

**[ERROR] InnoDB: Cannot allocate memory for the buffer pool**

And the threads [here](http://dba.stackexchange.com/questions/25165/intermittent-mysql-crashes-with-error-fatal-error-cannot-allocate-memory-for-t) and [here](http://www.webtrafficexchange.com/solved-mysql-crash-fatal-error-cannot-a

[2016-05-19 08:30] mrlarso opened #63 "Show error message when lrs data is incorrect"
When there is incorrect LRS information in the wp-swag plugin, the 'my account' page shows a paragraph of text that isn't very useful. It should explain the problem and how to solve it.

![lrs_error](https://cloud.githubusercontent.com/assets/5390448/15387277/f01ff77a-1db4-11e6-9c02-f5a473eb438b.png)

[2016-05-26 08:39] jackyk commented on #51
After a week of no activity for matters of time.

[2016-05-26 08:52] #60 closed, assigned to MorandeDickson

[2016-05-26 08:56] mrlarso opened #64 "Badges page design is not good"
The badges page design needs to be improved. Badges should be descriptive of the activity completed, and should fit into the window.

See image for current setup.
![badges](https://cloud.githubusercontent.com/assets/5390448/15569263/e1229154-2338-11e6-90c5-867f1ca9895f.png)

[2016-06-09 06:25] c3c1l1a opened #65 "Offline Interactive development environment"
Something similar to code academy that can be integrated to the swag system. Should be usable offline and synchronized to the online swag system whenever possible. It should be able to produce xAPI statements as well.

[2016-06-10 07:02] c3c1l1a opened #66 "H5P bug"
Throws a 404 to some style  and script files. Libraries and any content cannot be loaded.

[2016-06-10 07:11] c3c1l1a commented on #66
Fixed.
Problem source: Updating H5P plugin renames the the h5p plugin folder to h5p-wordpress and that breaks the plugin. It shouldn't though.

[2016-06-10 07:11] #66 closed, assigned to nobody

[2016-06-21 13:21] c3c1l1a opened #67 "Create a vm that has swag already setup"

[2016-07-05 14:07] hrolken commented on #58
I've created an FAQ page for the learning.tunapanda site. Any specific questions we want on the site? I've included what's a swagpath, what's the swagmap, and how to find out about TI.

[2016-08-16 14:41] c3c1l1a commented on #59
Implemented in https://github.com/tunapanda/LRS_Sync. Seems to be working perfectly.

[2016-08-16 14:41] #59 closed, assigned to mrlarso, c3c1l1a

[2016-08-22 14:00] mrlarso opened #69 "Offline content sync"
In certain instances, the server won't have access to reliable or affordable internet. How can we sync the content using a USB

[2016-09-15 08:20] c3c1l1a commented on #62
Database hasn't had any issues in the past few week. Closing the issue.

[2016-09-15 08:20] #62 closed, assigned to mrlarso

[2016-10-15 12:33] limikael commented on #69
That's what I thought about when I created this issue: https://github.com/tunapanda/wp-remote-sync/issues/11

[2016-10-31 17:01] limikael commented on #69
This issue was moved to tunapanda/wp-swag#4

[2016-10-31 17:01] #69 closed, assigned to nobody

[2016-10-31 17:02] limikael opened #70 "404 page"

[2016-10-31 17:02] limikael commented on #65
This issue was moved to tunapanda/wp-swag#5

[2016-10-31 17:02] #65 closed, assigned to nobody

[2016-10-31 17:03] limikael commented on #67
This issue was moved to tunapanda/wp-swag#6

[2016-10-31 17:03] #67 closed, assigned to mrlarso

[2016-10-31 17:03] limikael commented on #64
This issue was moved to tunapanda/wp-swag#7

[2016-10-31 17:03] #64 closed, assigned to nobody

[2016-10-31 17:04] limikael commented on #63
This issue was moved to tunapanda/wp-swag#8

[2016-10-31 17:04] #63 closed, assigned to nobody

[2016-10-31 17:04] limikael commented on #57
This issue was moved to tunapanda/wp-swag#9

[2016-10-31 17:04] #57 closed, assigned to nobody

[2016-10-31 17:09] limikael commented on #55
Moved: https://github.com/tunapanda/wp-swag/issues/10

[2016-10-31 17:09] #55 closed, assigned to nobody

[2016-10-31 17:09] limikael commented on #58
@hrolken it looks good!

[2016-10-31 17:10] limikael commented on #52
Moved: https://github.com/tunapanda/wp-swag/issues/11

[2016-10-31 17:10] #52 closed, assigned to nobody

[2016-10-31 17:11] limikael commented on #51
Moved: https://github.com/tunapanda/wp-swag/issues/12

[2016-10-31 17:11] #51 closed, assigned to Renice-Owino

[2016-10-31 17:12] limikael commented on #49
Moved: https://github.com/tunapanda/wp-swag/issues/13

[2016-10-31 17:12] #49 closed, assigned to denamoha

[2016-10-31 17:14] limikael commented on #38
Moved: https://github.com/tunapanda/wp-swag/issues/14

[2016-10-31 17:14] #38 closed, assigned to Johngitonga

[2016-10-31 17:15] limikael commented on #14
Moved: https://github.com/tunapanda/wp-swag/issues/15

[2016-10-31 17:15] #14 closed, assigned to nobody